.drawer {
    z-index: 5;   /* frame 보다 위에 있어야 함 */
    background-color: color-mix(in srgb, var(--md-sys-color-surface-container) 80%, transparent);
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    backdrop-filter: blur(5px);
    display: flex;
    width: fit-content;
    flex-direction: column;
    transition-property: background-color, box-shadow, border-top-right-radius, border-bottom-right-radius;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
:root[color-theme='light'] .drawer[open] {
    box-shadow: 0 4px 30px color-mix(in srgb, var(--md-sys-color-outline-variant) 80%, transparent);
}
:root[color-theme='dark'] .drawer[open] {

}
.rail {
    display: flex;
    flex-direction: column;
    width: 0px;
    overflow: hidden;
    white-space: pre;
    transition: width 400ms cubic-bezier(.2,0,0,1);
}
.rail[collapse] {
    width: 3.5rem;
    padding-top: 0px !important;
}
.rail[expand] {
    width: 16rem;
    align-items: flex-start;
    padding: 0 0.6rem;
}
.rail[hide] {
    width: 0px;
    padding-top: 0px !important;
}
.rail[expand]:not(:first-of-type) {
    border-left: 1px solid var(--md-sys-color-outline-variant);
}
.rail .item {
    width: 100%;
}
.frame {
    position: absolute;
    left: 56px;
    border: 0px hidden;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    transition: all 100ms ease-in-out;
    top: 0rem;
    opacity: 1;
}
.frame-in {
    top: 1rem;
    opacity: 0;
}
.frame-out {
    top: -1rem;
    opacity: 0;
}